<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title:"Inicio de sesion", css:"login"}) %>
<body>
  <%- include("partials/header") %>

    <main>
        <div class="container">
            <form action="#" method="post">
                <label for="email">Correo electrónico:</label>
                <input id="emaillog" type="email" id="email" name="email" required>
                <label for="password">Contraseña:</label>
                <input id="passwordlog" type="password" id="password" name="password" required>
                <button type="submit" class="blue-button">Iniciar Sesión</button>
            </form>
        </div>
    </main>
    
      <footer>
        <div class="content-img">
            <img src="/icons/logo.png" alt="">
        </div>
        
        <div class="content-footer">
            <ul>
                <li> <a href="">Trabaja con nosotros</a></li>
                <li> <a href="">Vacantes</a></li>
                <li> <a href="">Beneficios</a></li>
                <li> <a href="">Para Dropshippers</a></li>
                <li> <a href="">Para Comerciantes en general</a></li>
                <li> <a href="">Para Desarrolladores</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>