<link rel="stylesheet" href="/partialsCss/footer.css">
<footer>
    <div class="content-img">
        <img src="/icons/logo.png" alt="">
    </div>
    <div class="content-footer">
        <ul>
            <li><a href="">Trabaja con nosotros</a></li>
            <li><a href="">Vacantes</a></li>
            <li><a href="">Beneficios</a></li>
            <li><a href="">Para Dropshippers</a></li>
            <li><a href="">Para Comerciantes en general</a></li>
            <li><a href="">Para Desarrolladores</a></li>
        
        </ul>
    </div>
</footer>